.submitBtn
{
  width: fit-content;
  padding: 12px 32px;
  background-color: #9CB3D3;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  transition: all ease-in-out 0.1s;
}

.submitBtn:hover
{
  background-color: rgb(50, 50, 86);
  transition: all ease-in-out 0.1s;
  background: #8EA8CC;
}